.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.font-raleway {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* header */
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 42px 102px;
}

.page__nav__ul {
    display: flex;
    column-gap: 22px;
    align-items: center;
}

.page__list {
    cursor: pointer;
    transition: .4s;
    text-shadow: 0px 0px 0px #4F46E5;

}

.page__list:hover {
    text-shadow: -5px 2px 3px #4F46E5;
    transform: scale(1.1);
}

.login {
    background-color: #4F46E5;
    border: none;
    border-radius: 8px;
    color: #FFFFFF;
    width: 180px;
    height: 40px;
    cursor: pointer;
    transition: .4s;
}

.login:hover {
    transform: translateY(-5px);
}

.main__tag {
    max-width: 1210px;
    margin: auto;
}

/* carousel section */

.carousel__section {
    display: flex;
    align-items: center;
    justify-items: center;
    margin: 44px auto;
    width: 100%;
    height: 530px;
    background-color: #EDEDED;
    border-radius: 16px;
}

.arrow {
    width: 45px;
    height: 45px;
    cursor: pointer;
}

.right {
    transform: rotateY(180deg);
}

.carousel__images__div {
    height: 400px;
    width: 100%;
}

.carousel__iamges__div img {
    object-fit: cover;
}

/* card section */
.card__section {
    display: flex;
    flex-direction: column;
    gap: 80px 24px;
    margin: auto;
    /* max-width: 1200px; */

}

.card__section__header {
    font-weight: 700;
    font-size: 40px;
}

/* articles */
.articles__section {
    display: flex;
    flex-wrap: wrap;
    gap:80px 24px;
    /* border: 2px solid black; */
}

.card__article {
    display: flex;
    flex-direction: column;
    max-width: 384px;
}

.card__image__div {
    width: 100%;
    height: 224px;
}

.card__image__div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* text div in articles */
.text__div {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    margin-block: 16px 24px;

}

.description {
    color: #4F46E5;
    font-size: 12px;
    font-weight: 700;
}

.articles__header {
    font-size: 24px;
    font-weight: 700;
}

.artcles__p {
    font-weight: 500;
    font-size: 16px;
}

/* user__div */
.user__div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* username div */
.user__info{
    display: flex;
    column-gap: 16px;
    justify-content: center;
    align-items: center;
}

.username{
    font-weight: 700;
}
.date{
    color: #000000;
    opacity: 0.5;
}

/* icons div */
.icons__ul{
    display: flex;
    column-gap:16px ;
}
.icons__li{
    cursor: pointer;
}

/* page scroll div */
.page__scroll{
    display: flex;
    justify-content: center;
    border: 2px solid red;
}
.page__btn{
    background: transparent;
    border: 1px solid #D9D9D9;
    padding: 10px 17px;
    font-weight: 600;
    color: #4F46E5;
    cursor: pointer;
    transition:.4s;
    border-radius:2px; 
}
.page__btn:hover{
    background-color: #4F46E5;
    color: #FFFFFF;
    transform: translateY(-5px);}

.prev{
    color: #000000;
    opacity:0.5;
}